<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <br />
    <footer>Thomas Lund's Water Project<br />IS 413 - 2022</footer>
</body>
</html>
